@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


:root{
    --font1:cursive;
    --font2: "Caveat", cursive;
    --font3: 'Passion One' , cursive;
}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
header{
    background-color: black;
}
h1{
    color: white;
}
header > p{
    color: rgb(150, 147, 147);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgba(240, 248, 255, 0.466);
}