@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


:root{
    --font1:cursive;
    --font2: Verdana, Geneva, Tahoma, sans-serif;

}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
header{
    background-color: black;
    padding: 1vh;
    height: 15vh;
}
h1{
    color: white;
    text-align: center;
    margin: 3vh 0px 1vh 0px;
    font-family: var(--font2);
    font-size: 5vh;
}
header > p{
    color: rgb(150, 147, 147);
    text-align: center;
    font-size: 2.5vh;
    font-family: var(--font1);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgba(240, 248, 255, 0.466);
}

article{
    padding: 2vh;
    height: 60vh;
}

article > p{
    font-family: var(--font1);
    margin: 10vh 0vh;
    font-size: 3vh;
}

article#A2{
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;

    background-position: center center;

}
div#c1{
    padding: 2.5vh;
    background-color: rgba(0, 0, 0, 0.329);
    display: inline-block;
    margin-top: 5vh;
}
div#c1 > p{
    font-family: var(--font1);
    font-size: 3vh;
    color: white;
}