@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


:root{
    --font1:cursive;
    --font2: Verdana, Geneva, Tahoma, sans-serif;
    --font3:Caveat, cursive;

}

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
header{
    background-color: black;
    padding: 1vh;
    height: 24vw;
}
h1{
    color: white;
    text-align: center;
    margin: 5vw 0px 1vw 0px;
    font-family: var(--font2);
    font-size: 7vw;
}
header > p{
    color: rgb(150, 147, 147);
    text-align: center;
    font-size: 2.5vw;
    font-family: var(--font1);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: rgba(240, 248, 255, 0.466);
}

.normal{
    padding: 2vw;
    height: 60vw;
    margin: 10vw 1vw 5vw;
}
.imagem{
    padding: 4vw;
    height: 60vw;
    background-attachment: fixed;
    background-size: cover;
}

#img01{
    background-position: right center;
    background-image: url('imagens/background001.jpg');
}

#img02{
    background-position: left center;
    background-image: url('imagens/background002.jpg');
}

article, div> p{
    font-family: var(--font3);
    font-size: 5vw;
}

#c1{
    padding: 3px 0px 3px 3px;
    background-color: rgba(0, 0, 0, 0.274);
    color: white;
    font-size: 5vw;
    font-family: var(--font3);
    width: 50vw;
    margin: 8vw 0px;
}
.maior{
    padding: 2vw;
    height: 105vw;
    margin: 10vw 1vw 5vw;
}
#c2{
    padding: 3px 0px 3px 3px;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    font-size: 5vw;
    font-family: var(--font3);
    width: 50vw;
    margin: 8vw 0px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1vw;
    font-size: 2.5vw;
}